@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\Dante\ B\\Downloads\\flask-formfiller\\static\\custom\.scss}line{font-family:\000033}}
body {
  background-color: #5e24e3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace; }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\Dante\ B\\Downloads\\flask-formfiller\\static\\custom\.scss}line{font-family:\000038}}
  body p {
    color: white; }
    @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\Dante\ B\\Downloads\\flask-formfiller\\static\\custom\.scss}line{font-family:\0000311}}
    body h1 {
      color: white; }
      @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\Dante\ B\\Downloads\\flask-formfiller\\static\\custom\.scss}line{font-family:\0000314}}
      body .sneeze-cont {
        border: 1px solid white; }
        @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\Dante\ B\\Downloads\\flask-formfiller\\static\\custom\.scss}line{font-family:\0000315}}
        body .sneeze-cont p {
          text-align: center; }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\Dante\ B\\Downloads\\flask-formfiller\\static\\custom\.scss}line{font-family:\0000320}}
  body button {
    padding: 0 2%;
    background-color: white;
    color: #5e24e3;
    border: 2px solid black; }
    @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\Dante\ B\\Downloads\\flask-formfiller\\static\\custom\.scss}line{font-family:\0000326}}
    body .row {
      max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\Dante\ B\\Downloads\\flask-formfiller\\static\\custom\.scss}line{font-family:\0000332}}
#form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
